body{
    font-family: sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(165, 162, 162);
    border-radius: 5px;
    padding: 5px;

}
nav h3{
    font-size:smaller;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
}
nav ul li{
    list-style: none;
    margin: 8px;
    padding: 5px;
    font-size: smaller;
    text-align: center;
}
.purple{
    background: rgb(241, 13, 241);
    color: white;
    border-radius: 3px;
}
.search{
    padding: 10px;
    width: 30px;
}
.welcom{
    font-size: larger;
}
.container {
    width: 96%;
    /* background: honeydew; */
    height: 80vh;
}
.body {
    display: flex;
    padding: 0 4% ;   
}
h2 {
    color: gray;
    padding:  0 4%;
}
.body p {
    margin-top: 2%;
    font-size: xx-large;
  
}
.body img {
    width: 60%;
    border-radius: 8%;
    height: 40vh;
}
.more{
    display: flex;
    justify-content:center;
}
a {
    color:white;
    border: 1px solid purple;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 6vh;
    text-decoration: none;
    background: purple;
    border-radius: 3px;
 
}
h1{
    color: gray;
}
.group{
    display: flex;
    width: 100%;
}
img{
    width: 70px;
    margin-top: 10px;
}
.logo{
    border: 1px solid gray;
    border-radius: 20px;
    width: 26%;
    height: 22vh;
    /* background: bisque; */
    margin: 5px;
    text-align: center;
    color: gray;
}
footer{
    background: gray;
    height: 20vh;
    text-align: center;
    margin-top: 10px;
}
.email{
    padding-top: 15px;
}
